<!-- Clase que contiene el HTML de la vista de organizacion (Empleada para listar en la tabla las organizaciones existentes) -->

<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
    <!-- Boton para agregar una nueva organizacion-->
    <button [routerLink]="['/organization/add_organization']" class="btn btn-outline-primary btn-lg">Nueva
        Organización</button>
    <br><br><br>
    <h3>Lista de Organizaciones</h3>
    <!-- Campo de busqueda -->
    <form>
        <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Buscar">&nbsp;&nbsp;
    </form>
    <br>
    <!-- Inicio de la tabla, en la cual se listan las organizaciones existentes-->
    <table class="table col-6 table-striped">
        <thead class="thead-dark">
            <!-- Columnas de la tabla-->
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Observación</th>
                <th scope="col">Email</th>
                <th scope="col">Telefono</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de la tabla-->
            <tr *ngFor="let organization of arrayOrganizations | filter:searchText">
                <td> {{ organization.id_organizacion }} </td>
                <td> {{ organization.nombre_organizacion }} </td>
                <td> {{ organization.observacion_organizacion }} </td>
                <td> {{ organization.email_organizacion }} </td>
                <td> {{ organization.telefono_organizacion }} </td>
                <td>
                    <!-- Boton para actualizar la informacion de una organizacion -->
                    <a [routerLink]="['/organization/edit_organization',organization.id_organizacion]"
                        class="btn btn-outline-primary btn-lg">
                        Editar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>