<!-- Clase que contiene el HTML de la vista de Organizaciones (Empleada para crear y actulizar una Organizacion) -->

<div class="container animated fadeIn fast" id="main-container" id="fuente-general">
    <h1>Organización</h1>
    <hr>
    <form [formGroup]="formOrganization">

        <!-- Campo para ID solo se muestra cuando se edita -->
        <div class="form-group row" [hidden]="hide==false">
            <label class="col-2 col-form-label">ID Organización</label>
            <div class="col-2">
                <input class="form-control" type="number" id="textId_organizacion" id="tamaño-fuente-input"
                    value={{arrayOrganizations.id_organizacion}} disabled>
            </div>
        </div>

        <!-- Campo para el nombre -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre Organización</label>
            <div class="col-5">
                <input autofocus class="form-control" formControlName="nombre_organizacion" type="text" id="textNombre"
                    [(ngModel)]="arrayOrganizations.nombre_organizacion" id="tamaño-fuente-input" maxlength="50">

                <!-- Validacion para el campo nombre de la Organizacion -->
                <div *ngIf="formOrganization.controls['nombre_organizacion'].errors?.required"
                    class="form-control-feedback" id="tamaño-fuente-alerta">
                </div>

                <!-- Mensaje de restricción campo nombre de la Organizacion -->
                <div *ngIf="formOrganization.controls['nombre_organizacion'].errors?.maxlength"
                    class="form-control-feedback">
                    <div class="alert alert-danger">
                        <strong>Alerta!</strong> El campo debe tener máximo 50 carácteres.
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo para el email -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Email Organización</label>
            <div class="col-5">
                <input autofocus class="form-control" formControlName="email_organizacion" type="text" id="textNombre"
                    [(ngModel)]="arrayOrganizations.email_organizacion" id="tamaño-fuente-input" maxlength="50">

                <!-- Mensaje de restricción campo de solo email  -->
                <div *ngIf="formOrganization.controls['email_organizacion'].errors?.maxlength ||
                formOrganization.controls['email_organizacion'].errors?.pattern" class="form-control-feedback">
                    <div class="alert alert-danger">
                        <strong>Formato</strong> ejemplo@ejemplo.co, máximo 50 carácteres.
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo para el telefono -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Teléfono Organización</label>
            <div class="col-3">
                <input autofocus class="form-control" formControlName="telefono_organizacion" type="text"
                    id="textNombre" [(ngModel)]="arrayOrganizations.telefono_organizacion" id="tamaño-fuente-input"
                    maxlength="19">
                <!-- Validacion para el campo nombre de la Alerta -->
                <div *ngIf="formOrganization.controls['telefono_organizacion'].errors?.required"
                    class="form-control-feedback" id="tamaño-fuente-alerta">
                </div>

                <!-- Mensaje de restricción campo de solo numeros  -->
                <div *ngIf="formOrganization.controls['telefono_organizacion'].errors?.pattern"
                    class="form-control-feedback">
                    <div class="alert alert-danger">
                        <strong>Alerta!</strong> Campo de numeros enteros y contener entre 7 y 10 dígitos.
                    </div>
                </div>

            </div>
        </div>

        <!-- Campo para observaciones  -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Observación</label>
            <div class="col-5">
                <textarea ng-thim="false" class="form-control" formControlName="observacion_organizacion" rows="4"
                    [(ngModel)]="arrayOrganizations.observacion_organizacion" id="tamaño-fuente-input" maxlength="50">
               </textarea>
                <span>{{50-arrayOrganizations.observacion_organizacion.length}} Caracteres restantes</span>
                <!-- Validacion para el campo nombre de la Alerta -->
                <div *ngIf="formOrganization.controls['observacion_organizacion'].errors?.required"
                    class="form-control-feedback" id="tamaño-fuente-alerta">
                </div>
                <br>
                <div style="margin-top: 20px;">
                    <em> * Todos los campos son obligatorios </em>
                </div>
            </div>
        </div>

        <!-- boton Guardar Organizacion -->
        <div id="caja-botones" class="form-group-row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="col-md-8">
                <button type="button" class="btn btn-outline-primary btn-lg" [disabled]="!formOrganization.valid"
                    (click)=" edit ? updateOrganization() : createOrganization()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>