<!-- Clase que contiene el HTML de la barra de navegación (Ubicado en la parte superior) -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="fuente-general">
  <a class="navbar-brand" href="/">Sanambiente</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          proyectos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Calidad del aire</a>
          <a class="dropdown-item" href="#">Contaminacion</a>
          <a class="dropdown-item" href="#"> Agua </a>
        </div>
      </li>
    </ul>
  </div> -->
</nav>