<!-- Clase que contiene el HTML de la vista de variable (Empleada para listar en la tabla las variables existentes) -->

<div class="container animated fadeIn fast" id="div-tabla" id="fuente-general">
    <!-- Boton para agregar una nueva variable-->
    <button [routerLink]="['/variable/add_variable']" class="btn btn-outline-primary btn-lg">Nueva Variable</button>
    <br><br><br>
    <h3>Lista de variables</h3>
    <!-- Campo de busqueda -->
    <form>
        <input type="search" name="search" aria-label="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Buscar">&nbsp;&nbsp;
    </form>
    <br>
    <!-- Inicio de la tabla, en la cual se listan las variables existentes-->
    <table class="table col-6 table-striped">
        <thead class="thead-dark">
            <!-- Columnas de la tabla-->
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Observación</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Filas de la tabla-->
            <tr *ngFor="let variable of arrayVariables | filter:searchText">
                <td> {{variable.id_variable}} </td>
                <td> {{variable.nombre_variable}} </td>
                <td> {{variable.observacion_variable}} </td>
                <td>
                    <!-- Boton para actualizar la informacion de una variable -->
                    <a [routerLink]="['/variable/edit_variable',variable.id_variable]"
                        class="btn btn-outline-primary btn-lg">
                        Editar
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>