<!-- Clase que contiene el HTML de la vista de Categoria (Empleada para crear y actulizar una Categoria) -->

<div class="container animated fadeIn fast" id="main-container" id="fuente-general">
    <h1>Categoría</h1>
    <hr>
    <form [formGroup]="formCategory">

        <!-- Campo para ID solo se muestra cuando se edita -->
        <div class="form-group row" [hidden]="hide==false">
            <label class="col-2 col-form-label">ID Categoría</label>
            <div class="col-2">
                <input class="form-control" type="number" id="textId_categoria" id="tamaño-fuente-input"
                    value={{arrayCategories.id_categoria}} disabled>
            </div>
        </div>

        <!-- Campo para el nombre -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre Categoría</label>
            <div class="col-5">
                <input autofocus class="form-control" formControlName="nombre_categoria" type="text" id="textNombre"
                    [(ngModel)]="arrayCategories.nombre_categoria" id="tamaño-fuente-input" maxlength="50">

                <!-- Validacion para el campo nombre de la Categoria -->
                <div *ngIf="formCategory.controls['nombre_categoria'].errors?.required" class="form-control-feedback"
                    id="tamaño-fuente-alerta">
                </div>

                <!-- Mensaje de restricción campo nombre de la Categoria -->
                <div *ngIf="formCategory.controls['nombre_categoria'].errors?.maxlength" class="form-control-feedback">
                    <div class="alert alert-danger">
                        <strong>Alerta!</strong> El campo debe tener máximo 50 carácteres.
                    </div>
                </div>
            </div>
        </div>

        <!-- Campo para observaciones  -->
        <div class="form-group row">
            <label class="col-2 col-form-label">Observación</label>
            <div class="col-5">
                <textarea ng-thim="false" class="form-control" formControlName="observacion_categoria" rows="4"
                    [(ngModel)]="arrayCategories.observacion_categoria" id="tamaño-fuente-input" maxlength="50">
               </textarea>
                <span>{{50-arrayCategories.observacion_categoria.length}} Caracteres restantes</span>

                <!-- Validacion para el campo Observacion de la Categoria -->
                <div *ngIf="formCategory.controls['observacion_categoria'].errors?.required"
                    class="form-control-feedback" id="tamaño-fuente-alerta">
                </div>
                <br>
                <div style="margin-top: 20px;">
                    <em> * Todos los campos son obligatorios </em>
                </div>
            </div>
        </div>

        <!-- boton guardar Categoria -->
        <div id="caja-botones" class="form-group-row">
            <label class="col-1 col-form-label">&nbsp;</label>
            <div class="col-md-8">
                <button type="button" class="btn btn-outline-primary btn-lg" [disabled]="!formCategory.valid"
                    (click)=" edit ? updateCategory() : createCategory()">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>